# Data Wrangling with DataFrames Coding Quiz

Use this Jupyter notebook to find the answers to the quiz in the previous section. There is an answer key in the next part of the lesson.

In [34]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, IntegerType
from pyspark.sql.functions import desc, asc, udf, sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [35]:
spark = SparkSession \
    .builder \
    .appName("Wrangling Data Quiz") \
    .getOrCreate()

In [36]:
path = "dataset/sparkify_log_small.json"
user_log = spark.read.json(path)
user_log.toPandas().head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Showaddywaddy,Logged In,Kenneth,M,112,Matthews,232.93342,paid,"Charlotte-Concord-Gastonia, NC-SC",PUT,NextSong,1.509380e+12,5132,Christmas Tears Will Fall,200,1513720872284,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",1046
1,Lily Allen,Logged In,Elizabeth,F,7,Chase,195.23873,free,"Shreveport-Bossier City, LA",PUT,NextSong,1.512719e+12,5027,Cheryl Tweedy,200,1513720878284,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",1000
2,Cobra Starship Featuring Leighton Meester,Logged In,Vera,F,6,Blackwell,196.20526,paid,"Racine, WI",PUT,NextSong,1.499856e+12,5516,Good Girls Go Bad (Feat.Leighton Meester) (Alb...,200,1513720881284,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",2219
3,Alex Smoke,Logged In,Sophee,F,8,Barker,405.99465,paid,"San Luis Obispo-Paso Robles-Arroyo Grande, CA",PUT,NextSong,1.513010e+12,2372,Don't See The Point,200,1513720905284,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",2373
4,None,Logged In,Jordyn,F,0,Jones,NaN,free,"Syracuse, NY",GET,Home,1.513649e+12,1746,None,200,1513720913284,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",1747

# Question 1

Which page did user id "" (empty string) NOT visit?

In [37]:
user_log_page_unique = user_log.select("page").dropDuplicates().collect()
empty_user_page_unique = user_log.select("page").where(user_log.userId == "").dropDuplicates().collect()
set(user_log_page_unique).difference(set(empty_user_page_unique))

{Row(page='Downgrade'),
 Row(page='Error'),
 Row(page='Logout'),
 Row(page='NextSong'),
 Row(page='Save Settings'),
 Row(page='Settings'),
 Row(page='Submit Downgrade'),
 Row(page='Submit Upgrade'),
 Row(page='Upgrade')}

# Question 2 - Reflect

What type of user does the empty string user id most likely refer to?

In [19]:
user_log.select('page').filter(user_log.userId == '').dropDuplicates().toPandas()

    page
0   Home
1  About
2  Login
3   Help

# Question 3

How many female users do we have in the data set?

In [38]:
# TODO: write your code to answer question 3
user_log.filter(user_log.gender == 'F').select('userId').dropDuplicates().count()

462

# Question 4

How many songs were played from the most played artist?

In [39]:
# TODO: write your code to answer question 4
user_log.filter(user_log.artist.isNotNull()).groupBy('artist').count().orderBy(desc('count')).toPandas().head(1)

     artist  count
0  Coldplay     83

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [41]:
from pyspark.sql.window import Window
udf_home = udf(lambda x: int(x.lower() == 'home'), IntegerType())

In [44]:
window_func = Window.partitionBy('userId').orderBy(desc('ts')).rangeBetween(Window.unboundedPreceding, 0)

In [61]:
user_log_period = user_log \
    .filter((user_log.page == 'Home') | (user_log.page == 'NextSong')) \
    .select(['userId', 'page', 'ts']) \
    .withColumn('home_visits', udf_home('page')) \
    .withColumn('period', Fsum('home_visits').over(window_func))

In [64]:
user_log_period.filter((user_log_period.page == 'NextSong')) \
    .groupBy('userID', 'period') \
    .agg({'period':'count'}) \
    .agg({'count(period)':'avg'}).show()

+------------------+
|avg(count(period))|
+------------------+
| 6.898347107438017|
+------------------+